.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 64px;

  .link {
    text-decoration: none;
    color: white;
  }

  .active-link {
    text-decoration: underline;
  }

  .links-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 64px;
  }
}
